body {
  //height: 100%;
  //line-height: 1.7;
  //font-weight: 300;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  //letter-spacing: 1px;
  //font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  a {
    border-bottom: none;
  }
}

a {
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &:hover, &:active, &:focus {
    text-decoration: none;
    border-bottom: 1px solid;
  }
}

blockquote {
  text-align: center;
  font-style: italic;
  font-size: 16px;

  &:before {
    font-size: 90px;
    line-height: 30px;
  }

  cite {
    font-weight: bold;
  }
}

code {
  white-space: normal;
}

.highlight {
  word-wrap: normal;

  code {
    white-space: pre;
  }
}

.address {
  span:first-of-type {
    font-weight: bold;
  }
}


h3, h4 {
  //font-weight: lighter;
}

h3 {
  //font-size: 28px;
}

h4 {
  //font-size: 22px;
}

h5 {
  //font-size: 18px;
  //font-weight: 300;
}

.custom-button, .custom-label {
  font-size: 12px;
  text-transform: uppercase;
}

#main-menu {
  text-align: center;

  ul li a {
    white-space: nowrap;
  }

  .navbar-brand {
    font-size: 20px;
  }
}

#footer {
  font-size: 12px;
}

.primary-banner {
  h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
  }

  strong {
    font-weight: normal;
  }

  &.main-page {
    h2 {
      font-size: 48px;
      line-height: 120%;
    }
  }
}

.secondary-banner {
  &.workshop-banner {
    text-align: center;

    a {
      font-size: 22px;
      border-bottom: none;

      span, small {
        border-bottom: 1px solid transparent;
      }
    }
  }

  &.cookie-banner {
    a {
      text-decoration: underline;
    }

    .cookie-button {
      text-decoration: none;
    }
  }
}

.article-meta {
  font-size: 12px;
}

.article {
  h3, h4, h5 {
    text-align: center;
  }

  p:first-of-type {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }

  .article-meta {
    text-align: center;
  }

  blockquote {
    &:before {
      font-size: 60px;
      line-height: 0;
    }
  }
}

.author {
  text-align: center;

  a, a:hover {
    border-bottom: none;

    i {
      font-size: 28px;
    }
  }
}

.workshop-meta {
  font-size: 12px;
}

.workshop {

  .description {
    //font-weight: 400;
    //font-size: 16px;
  }

  .workshop-meta {
    text-align: center;
  }

  .stage {
    p {
      font-weight: 300;
    }

    .stage-meta {
      font-size: 12px;
      text-transform: uppercase;
    }

    .number > div {
      .icon {
        font-size: 34px;
        font-weight: 500;
        text-align: center;
      }
    }
  }

  .agenda-item {
    font-size: 14px;

    h5 {
      text-align: left;
    }

    .start-time {
      font-size: 18px;
      text-align: right;
      font-weight: 800;
    }

    .item-meta {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}

.error-page {
  text-align: center;

  a.home-link {
    border-bottom: none;
  }
}

@media screen and (max-width: 767px) {
  .secondary-banner {
    text-align: center;
  }

  .workshop {
    .agenda-item {
      .start-time {
        text-align: left;
      }
    }
  }

  #footer {
    text-align: center;

    #footer-logo {
      text-align: center !important;
      padding: 10px 15px;

      img {
        display: none;
      }
    }
  }
}
