<!-- Contact -->
<section id="contact" class="wrapper style2 special fade">
	<div class="container">
		<header>
			<h2>Start a Conversation</h2>
			<p>Let's setup a free meeting to discuss how we can work together.</p>
			<p><a href="mailto:betatim@gmail.com">Email us</a> or submit your
				 email address below and we will contact you.</p>
		</header>
		<form class="container 50%">
			<div class="row uniform 50%">
				<div class="8u 12u$(xsmall)">
					<input type="email" name="email" id="email" placeholder="Your Email Address" />
				</div>
				<div class="4u$ 12u$(xsmall)">
					<input id="submitbutton" type="button" value="Contact me" class="special" />
				</div>
			</div>
		</form>
	</div>
</section>
