<!-- Contact -->
<section id="contact" class="wrapper style2 special fade">
	<div class="container">
		<header>
			<h2>Start a Conversation</h2>
			<p>Let's setup a free meeting to discuss how we can work together.</p>
			<p><a href="mailto:{{ site.email }}">Email us</a> directly,
				use the live chat <span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x" style="color: #e74c3c"></i>
  <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
</span>,
			call +41-76-752-8697, or submit your email address below:</p>
		</header>
		<form class="container 50%">
			<div class="row uniform 50%">
				<div class="8u 12u$(xsmall)">
					<input type="email" name="email" id="email" placeholder="Your Email Address" />
				</div>
				<div class="4u$ 12u$(xsmall)">
					<input id="submitbutton" type="button" value="Contact me" class="special" />
				</div>
			</div>
		</form>
	</div>
</section>
