<!-- Menu -->
<header id="header">
	<h1 id="logo"><a href="/index.html">Wild Tree Tech</a></h1>
	<nav id="nav">
		<ul>
			<li><a href="/index.html">Home</a></li>
			<li><a href="/index.html#science">Artificial Intelligence</a></li>
			<li><a href="/index.html#services">Services</a>
				<ul>
					<li><a href="/index.html#services">Data analysis</a></li>
					<li><a href="/index.html#services">Consulting</a></li>
					<li><a href="/training/">Training</a></li>
				</ul>
			</li>
			<li><a href="/index.html#who">About</a></li>
			<li><a href="/index.html#contact">Contact</a></li>
		</ul>
	</nav>
</header>
</div>
