<nav id="main-menu" class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" href="/">
      Wild Tree Tech
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
      <ul class="navbar-nav">
      {% for link in site.navigation %}
        {% assign active = false %}
        {% if page.url contains link.url %}
          {% assign active = 'active' %}
        {% endif %}
        <li class="nav-item {{active}}">
          <a class="nav-link {{active}}" href="{{link.url}}">{{link.title}}{% if page.url contains link.url %} <span class="sr-only">(current)</span>{% endif %}</a>
        </li>
      {% endfor %}
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/contact/">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
