<!-- News -->
<section id="news" class="spotlight style3 left">
	<span class="image fit main"><img src="images/pic04.jpg" alt="" /></span>
	<div class="content" style="overflow-y: auto">
		<header>
			<h2>On the move</h2>
			<p>The latest and greatest from <strong>Wild Tree Tech</strong></p>
		</header>
		<p><a href="https://scikit-optimize.github.io">scikit-optimize</a></p>
    <p>Wild Tree Tech is leading the development of a new open-source library:
			<code>skopt</code> a
			simple and efficient library for sequential model-based optimization,
			accessible to everybody and reusable in many contexts.
		</p>
		<hr />
		Follow <a href="https://twitter.com/wildtreetech">Wild Tree Tech on twitter</a>
		for the latest.
	</div>
	<a href="#contact" class="goto-next scrolly">Next</a>
</section>
