<!-- News -->
<section id="news" class="spotlight style3 left">
	<span class="image fit main"><img src="images/pic04.jpg" alt="" /></span>
	<div class="content" style="overflow-y: auto">
		<header>
			<h2>On the move</h2>
			<p>The latest and greatest from <strong>Wild Tree Tech</strong></p>
		</header>
		<p>
		Take a look at <a href="https://github.com/wildtreetech">our github</a>
		to see public work we have been doing recently.
		</p>
		<hr />
		<p>
		Follow <a href="https://twitter.com/wildtreetech">Wild Tree Tech on twitter</a>
		for what is interesting on the internet today.
		</p>
	</div>
	<a href="#contact" class="goto-next scrolly">Next</a>
</section>
