<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>


<script>
$(document).ready(function(){
  $("#submitbutton").click(function(e){
    e.preventDefault();
    if ($('#submitbutton').val() === "Done!"){return;}
    const email = $('#email')[0].value;
    console.log(email);
    $.ajax({
      url: 'http://104.130.22.102:5555/connect',
      type: 'POST',
      data: 'them=' + email,
      success: function(result){
        $('#submitbutton').val('Done!');
      }
    });
  });
});
</script>
