<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>


<script>
$(document).ready(function(){
  $("#submitbutton").click(function(e){
    e.preventDefault();
    if ($('#submitbutton').val() === "Done!"){return;}
    const email = $('#email')[0].value;
    console.log(email);
    $('#submitbutton').val('Sending');
    $.ajax({
      url: 'http://wtt-email.herokuapp.com/connect',
      type: 'POST',
      data: 'them=' + email,
      success: function(result){
        $('#submitbutton').val('Done!');
      },
      error: function(result){
        $('#submitbutton').val('Error');
      }
    });
  });
});
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "http://www.wildtreetech.com",
    "logo": "http://www.wildtreetech.com/images/logo.jpg",
    "contactPoint" : [{
      "@type" : "ContactPoint",
      "telephone" : "+41-76-752-8697",
      "contactType" : "customer service",
      "availableLanguage" : [
        "English",
        "German"
      ]
  }]
  }
</script>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "WebSite",
  "name" : "Wild Tree Tech",
  "alternateName" : "Wild Tree Technologies",
  "url" : "http://www.wildtreetech.com"
}
</script>
